<img src="{{ url_for('static', filename='nsin_logo.png') }}" style="float:right;margin 0 0 0">
<h1> Capstone IoC Enumeration Module</h1>
<h2> NSIN, NDU, CMU</h2>
<form action="/data" method="POST">
    <fieldset>
        <legend> Action Menu </legend>
        <p> Choose the action to perform: </p>
        <input type="radio" name="action" value="scrape">
        <label for="action">Run Scraper</label><br>
        <input type="radio" name="action" value="get_from_db">
        <label for="action">Fetch from Local IoC DB</label>
        <br>
        <p>If "Fetch from Local IoC DB", please specify atleast one of the below:</p>
        <p><label class="field" for="md5">MD5</label><input type = "text" name = "md5" class="textbox-300"/></p>
        <p><label class="field" for="sha1">SHA1</label><input type = "text" name = "sha1" class="textbox-300"/></p>
        <p><label class="field" for="sha256">SHA256</label><input type = "text" name = "sha256" class="textbox-300"/></p>
        <p><label class="field" for="ipv4">IPv4</label><input type = "text" name = "ipv4" class="textbox-300"/></p>
        <p><label class="field" for="malware_name">Malware Name</label><input type = "text" name = "malware_name" class="textbox-300"/></p>
        <br>
        <p><input type = "submit" value = "Submit" /></p>
    </fieldset>
</form>

<p style="text-align:center;"> <b>&#9989 Brought to you by: Team NSIN &#127881</b> </p>
<p style="text-align:center;"> <b>Made with &#128149 at: </b> </p>
<img src="{{ url_for('static', filename='heinz_logo.jpg') }}" width=350 height=100 class="center">
<style>
fieldset {
    width: 500px;
}

legend {
    font-size: 20px;
}

label.field {
    text-align: left;
    width: 100px;
    float: left;
    font-weight: bold;
}

input.textbox-300 {
    width: 300px;
    float: left;
}

fieldset p {
    clear: both;
    padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>